<p-toolbar [style]="{ height: '100px' }">
    <div class="p-toolbar-group-start">
        <img src="assets/icons/icon-72x72.png" alt="logo" />
    </div>
    <div class="p-toolbar-group-center">
        {{ title }}
    </div>
    <div class="p-toolbar-group-end" style="position: relative;">
        <i class="pi pi-shopping-cart" style="font-size: 2rem; cursor: pointer;" (click)="showCart()"></i>
        <span  class="cart-badge">{{ cartQuantity }}</span>
    </div>
</p-toolbar>
<p-splitter 
    [panelSizes]="[20, 80]" 
    [style]="{ height: 'calc(100vh - 100px)' }">
    <ng-template pTemplate>
        <div class="w-full">
            <app-panel-menu />
        </div>
    </ng-template>
    <ng-template pTemplate>
        <div class="w-full app-content">
            <router-outlet></router-outlet>
        </div>
    </ng-template>
</p-splitter>

<p-dialog [(visible)]="isCartVisible" [style]="{ width: '50vw' }" header="Panier">
    <app-cart-shop></app-cart-shop>
</p-dialog>